<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>
<body bgcolor="#1C1C1C">
        <div class="container">
            <div class="div-center">
                <button class="button" onclick="segVida()">Seguro Vida</button>
            </div>
            <div class="div-center">
                <button class="button" onclick="segCasa()">Seguro Casa</button>
            </div>
            <div class="div-center">
                <button class="button" onclick="segAuto()">Seguro Auto</button>
            </div>
        </div>

<script>
    function segVida(){
        window.location.href="vida";
    }

    function segCasa(){
        window.location.href="casa";
    }

    function segAuto(){
        window.location.href="auto";
    }
</script>
</body>
</html>